{% form 'customer' %}
<div class="email">

  <input type="email" name="contact[email]" placeholder="Email" class="email-input" />
</div>

<div class="submit">
  <input type="submit" value="Sign up"/>
</div>
{% endform %}