
<div class="m-bottom-50">
    <div class="front">
        <h1>Search Results</h1>
    </div>
    {% paginate search.results by 12 %}

<div class="flex justify-center">
    <form action="{{ routes.search_url}}" method="get">
        <input type="search" name="q" placeholder="Search" value=" {{ search.terms | escape}}" class="search-input">
        <button type="submit" class="search-button" > Search </button>
    </form>
</div>
{% if search.performed %}
    {% if search.results.size > 0 %}
    <h3 class="text-center pd-tb-50">{{ search.results.size }} results found</h3>
        {% for item in search.results %}
            {% case item.object_type %}
                {% when 'product' %}
                <div class="product-inside-search">
                    {% render 'product-card', product_product: item%}
                </div>

                {% else %}
                    
            {% endcase %}
        {% endfor %}
    {% else %}
    <h1 class="text-center pd-tb-50">No results found</h1>
    {% endif %}
    
{% endif %}
   

    {% render 'pagination', pagination: paginate %}
{% endpaginate %}
</div>

